*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
}
h1{
    padding-bottom: 20px;
}


/* working with the home page */
#section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
 
}

#section-2{
    background-color: #354230;
    padding: 40px;
    color: white;

}
#image-one{
    height: 400px;
    width: 400px;

}

